body {
	font-family: "Times New Roman", serif;
}
#h1 {
    color: #000000;
}

#h2 {
    color: #000000;
}

#p {
    color: #000000;
}

#menu {
    display: none;
}

#kopfleiste {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#inhalt {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}